mat-card {
  margin-top: 2em;
  border-radius: 25px;
  height: 50px;
}

.example-form-field {
  margin-right: 2em;
}

mat-form-field {
  margin-right: 2em;
}

b{
  font-size:20px;
  margin-right: 2em;
}
